.block-strategy {
  position: absolute;
  right: -470px;
  top: 0;
  visibility: visible !important;
}

.block-strategy__img-item {
  position: absolute;
}

.block-strategy__main-img {
  position: relative;
  z-index: 1;
}

.block-strategy__img-item-1 {
  top: 155px;
  left: 372px;
}

.block-strategy__img-item-2 {
  top: 194px;
  left: 305px;
}

.block-strategy__img-item-3 {
  top: 233px;
  left: 237px;
}

.block-strategy__img-item-4 {
  top: 273px;
  left: 168px;
}

.block-strategy__img-item-5 {
  top: 312px;
  left: 100px;
}

.block-strategy__img-item-6 {
  top: 351px;
  left: 34px;
}

.block-strategy.animated {
  .block-strategy__img-item-1 {
    animation: moving-one 3s ease-in-out;
    animation-fill-mode: forwards;
  }

  .block-strategy__img-item-2 {
    animation: moving-two 3s ease-in-out;
    animation-fill-mode: forwards;
  }

  .block-strategy__img-item-3 {
    animation: moving-three 3s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
  }

  .block-strategy__img-item-4 {
    animation: moving-fourth 3s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
  }

  .block-strategy__img-item-5 {
    animation: moving-five 3s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 2s;
  }

  .block-strategy__img-item-6 {
    animation: moving-six 3s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 2s;
  }
}

@keyframes moving-one {
  0% {
    top: 155px;
    left: 372px;
  }

  50% {
    top: 194px;
    left: 305px;
  }

  100% {
    top: 155px;
    left: 372px;
  }
}

@keyframes moving-two {
  0% {
    top: 194px;
    left: 305px;
  }

  50% {
    top: 155px;
    left: 372px;
  }

  100% {
    top: 194px;
    left: 305px;
  }
}

@keyframes moving-three {
  0% {
    top: 233px;
    left: 237px;
  }

  50% {
    top: 272px;
    left: 169px;
  }

  100% {
    top: 233px;
    left: 237px;
  }
}

@keyframes moving-fourth {
  0% {
    top: 273px;
    left: 168px;
  }

  50% {
    top: 233px;
    left: 237px;
  }

  100% {
    top: 273px;
    left: 168px;
  }
}

@keyframes moving-five {
  0% {
    top: 312px;
    left: 100px;
  }

  50% {
    top: 351px;
    left: 34px;
  }

  100% {
    top: 312px;
    left: 100px;
  }
}

@keyframes moving-six {
  0% {
    top: 351px;
    left: 34px;
  }

  50% {
    top: 312px;
    left: 100px;
  }

  100% {
    top: 351px;
    left: 34px;
  }
}

@media (max-width: 991.98px) {
  .block-strategy {
    position: absolute;
    //right: 0;
    margin: auto;
    transform: translate(-42%, -50%);
    top: 50%;
    left: 50%;
  }

  .block-strategy__main-img {
    width: 616px;
  }

  .block-strategy__img-item {
    width: 289px;
  }

  .block-strategy__img-item-1 {
    top: 73px;
    left: 176px;
  }

  .block-strategy__img-item-2 {
    top: 92px;
    left: 144px;
  }

  .block-strategy__img-item-3 {
    top: 110px;
    left: 112px;
  }

  .block-strategy__img-item-4 {
    top: 128px;
    left: 82px;
    width: 288px;
  }

  .block-strategy__img-item-5 {
    top: 146px;
    left: 49px;
  }

  .block-strategy__img-item-6 {
    top: 164px;
    left: 19px;
    width: 287px;
  }

  @keyframes moving-one  {
    0% {
      top: 73px;
      left: 176px;
    }

    50% {
      top: 92px;
      left: 144px;
    }

    100% {
      top: 73px;
      left: 176px;
    }
  }

  @keyframes moving-two {
    0% {
      top: 92px;
      left: 144px;
    }

    50% {
      top: 73px;
      left: 176px;
    }

    100% {
      top: 92px;
      left: 144px;
    }
  }

  @keyframes moving-three {
    0% {
      top: 110px;
      left: 112px;
    }

    50% {
      top: 128px;
      left: 82px;
    }

    100% {
      top: 110px;
      left: 112px;
    }
  }

  @keyframes moving-fourth {
    0% {
      top: 128px;
      left: 82px;
    }

    50% {
      top: 110px;
      left: 112px;
    }

    100% {
      top: 128px;
      left: 82px;
    }
  }

  @keyframes moving-five {
    0% {
      top: 146px;
      left: 49px;
    }

    50% {
      top: 164px;
      left: 19px;
    }

    100% {
      top: 146px;
      left: 49px;
    }
  }

  @keyframes moving-six {
    0% {
      top: 164px;
      left: 19px;
    }

    50% {
      top: 146px;
      left: 49px;
    }

    100% {
      top: 164px;
      left: 19px;
    }
  }
}


