$fz-h2: 50px;
$display-3-fz: 64px;
$px34: 34px;
$px20: 20px;

$fz-h2-coefficient: $fz-h2 / 100;
$display-3-fz-coefficient: $display-3-fz / 100;
$px34-coefficient: $px34 / 100;
$px20-coefficient: $px20 / 100;

$fz-h2-percent20: $fz-h2-coefficient * 20;
$display-3-fz-percent20: $display-3-fz-coefficient * 20;
$px34-percent20: $px34-coefficient * 20;
$px20-percent20: $px20-coefficient * 20;



html, body {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.section {
  overflow: hidden;
}

.app {
  background: linear-gradient(265.21deg, #16041D 0.23%, #0E1013 100%);
}

p {
  color: #B7B4B4;
}

h2.h2 {
  font-size: $fz-h2;
  font-weight: bold;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.11);
  border-radius: 45px;
  height: 50px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  background-size: 300% 100%;
  transition: all .3s ease-in-out;

  &:hover {
    background-position: 100% 0;
    transition: all .3s ease-in-out;
    color: #FFFFFF;
  }
}

.btn.button-color {
  background-image: linear-gradient(270deg, #E935B6, #ED7E40, #ED7E40, #E935B6);
}

///
.diagram-text {
  display: flex;
  align-items: center;
  margin-top: 35px;
}

.diagram-text__orange {
  display: flex;
  align-items: center;
  color: #FAE57D;
  margin-right: 32px;
}

.diagram-text__icon {
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  display: block;
  margin-right: 20px;
}

.diagram-text__number {
  font-weight: 900;
  font-size: 90px;
  line-height: 105px;
  color: #FAE57D;
}

.diagram-text__text {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #D7D7D7;
  margin-bottom: 0;
  max-width: 285px;
}
///

.main-menu {
  display: flex;
}

.colorful-text {
  font-weight: bold;
  font-size: 30px;
  line-height: 168.2%;

  background: linear-gradient(to right, #ED7E40, #B02389);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 184px;
  margin-bottom: 45px;

  &__line {
    width: 54px;
    height: 2px;
    background: #2F2637;
  }
}

.icon-circle {
  width: 51px;
  height: 51px;
  display: block;
}

.icon-circle_parameters-white {
  background: url("../img/icon-parameters__white.svg") no-repeat center;
  background-size: 100% auto;
}

.icon-circle_parameters-black {
  background: url("../img/icon-parameters__black.svg") no-repeat center;
  background-size: 100% auto;
}

.icon-circle_settings-black {
  background: url("../img/icon-settings__black.svg") no-repeat center;
  background-size: 100% auto;
}

.icon-circle_settings-white {
  background: url("../img/icon-settings__white.svg") no-repeat center;
  background-size: 100% auto;
}

.svg-schedule {
  max-width: 100%;
}

.svg-schedule__block {
  content: '';
  position: absolute;
  width: 40px;
  height: 18px;
  background: #130819;
  bottom: 17px;
  left: 44px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1230px;
  }
}

@media (max-width: 1199.98px) {
  h2.h2 {
    font-size: 2.3em;
  }

  .svg-sheme {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 991.98px) {
  h2.h2 {
    font-size: $fz-h2 - $fz-h2-percent20;
  }

  p {
    font-size: $px20 - $px20-percent20;
  }

  .display-3.first-slide__title {
    font-size: $display-3-fz - $display-3-fz-percent20;
  }

  .svg-schedule {
    width: 100%;
    height: 100%;
  }

  .diagram-text {
    justify-content: center;
  }
}

@media (max-width: 767.98px) {
  .display-3.first-slide__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 20px;
  }

  h2.h2 {
    font-size: 24px;
    line-height: 28px;
  }

  .diagram-text__orange {
    margin-right: 14px;
  }

  .diagram-text__icon {
    font-size: 20px;
    line-height: 23px;
    margin-right: 16px;
  }

  .diagram-text__number {
    font-size: 40px;
    line-height: 47px;
  }

  .diagram-text__text {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
  }

  .colorful-text {
    font-size: 18px;
    line-height: 168.2%;
  }

  .icon-circle {
    width: 46px;
    height: 46px;
  }

  .container-icons {
    margin-bottom: 26px;
    max-width: 166px;
  }

  .container-icons__line {
    width: 33px;
  }
}