$fz-h2: 50px;
$display-3-fz: 64px;
$px34: 34px;
$px20: 20px;

$fz-h2-coefficient: $fz-h2 / 100;
$display-3-fz-coefficient: $display-3-fz / 100;
$px34-coefficient: $px34 / 100;
$px20-coefficient: $px20 / 100;

$fz-h2-percent20: $fz-h2-coefficient * 20;
$display-3-fz-percent20: $display-3-fz-coefficient * 20;
$px34-percent20: $px34-coefficient * 20;
$px20-percent20: $px20-coefficient * 20;



html, body {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(265.21deg, #16041D 0.23%, #0E1013 100%);
}

.section {
  overflow: hidden;
}

.app {

}

.app.active {
  position: relative;
  filter: blur(10px);

  &:before {
    content: '';
    background: rgba(0, 0, 0, 0.77);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
  }
}

body.active {
  overflow: hidden;
}

p {
  color: #B7B4B4;
}

h2.h2 {
  font-size: $fz-h2;
  font-weight: bold;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.11);
  border-radius: 45px;
  height: 50px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  background-size: 300% 100%;
  transition: all .3s ease-in-out;

  &:hover {
    background-position: 100% 0;
    transition: all .3s ease-in-out;
    color: #FFFFFF;
  }
}

.btn.button-color {
  background-image: linear-gradient(270deg, #E935B6, #ED7E40, #ED7E40, #E935B6);
}

///
.diagram-text {
  display: flex;
  align-items: center;
  margin-top: 35px;
}

.diagram-text__orange {
  display: flex;
  align-items: center;
  color: #FAE57D;
  margin-right: 32px;
}

.diagram-text__icon {
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  display: block;
  margin-right: 20px;
}

.diagram-text__number {
  font-weight: 900;
  font-size: 90px;
  line-height: 105px;
  color: #FAE57D;
}

.diagram-text__text {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #D7D7D7;
  margin-bottom: 0;
  max-width: 285px;
}
///

.main-menu {
  display: flex;
}

.colorful-text {
  font-weight: bold;
  font-size: 30px;
  line-height: 168.2%;

  background: linear-gradient(to right, #ED7E40, #B02389);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 184px;
  //position: absolute;
  //top: 120px;

  &__line {
    width: 54px;
    height: 2px;
    background: #2F2637;
    display: block;
  }
}

.icon-circle {
  width: 51px;
  height: 51px;
  display: block;
  cursor: pointer;
}

.fourth-slide__tab-1.show .icon-circle_parameters {
  background: url("../img/icon-parameters__white.svg") no-repeat center;
  background-size: 100% auto;
}

.icon-circle_parameters {
  background: url("../img/icon-parameters__black.svg") no-repeat center;
  background-size: 100% auto;
}

.icon-circle_settings {
  background: url("../img/icon-settings__black.svg") no-repeat center;
  background-size: 100% auto;
}

.fourth-slide__tab-2.show .icon-circle_settings{
  background: url("../img/icon-settings__white.svg") no-repeat center;
  background-size: 100% auto;
}

.svg-schedule {
  max-width: 100%;
}

.svg-schedule__block {
  content: '';
  position: absolute;
  width: 40px;
  height: 18px;
  background: #130819;
  bottom: 17px;
  left: 44px;
}

.logo-laravel {
  background: url("../img/logo-laravel.svg") no-repeat center;
  background-size: 100% auto;
  max-width: 217px;
  width: 100%;
  height: 57px;
  display: block;
}

.logo-redis {
  background: url("../img/logo-redis-white.png") no-repeat center;
  background-size: 100% auto;
  max-width: 103px;
  width: 100%;
  height: 34px;
  display: block;
}

.logo-mysql {
  background: url("../img/logo-mysql.svg") no-repeat center;
  background-size: 100% auto;
  max-width: 165px;
  width: 100%;
  height: 86px;
  display: block;
}

.logo-php {
  background: url("../img/logo-php.svg") no-repeat center;
  background-size: 100% auto;
  max-width: 100px;
  width: 100%;
  height: 27px;
  display: block;
}

.logo-nginx {
  background: url("../img/logo-nginx.svg") no-repeat center;
  background-size: 100% auto;
  max-width: 97px;
  width: 100%;
  height: 39px;
  display: block;
}

.logo-qiwi {
  background: url("../img/logo-qiwi.svg") no-repeat center;
  background-size: 100% auto;
  max-width: 113px;
  width: 100%;
  height: 33px;
  display: block;
}

.logo-telegram {
  background: url("../img/logo-telegram.png") no-repeat center;
  background-size: 100% auto;
  max-width: 45px;
  width: 100%;
  height: 45px;
  display: block;
}

.logo-github {
  background: url("../img/logo-github.svg") no-repeat center;
  background-size: 100% auto;
  max-width: 72px;
  width: 100%;
  height: 19px;
  display: block;
}

.logo-jira {
  background: url("../img/logo-jira.svg") no-repeat center;
  background-size: 100% auto;
  max-width: 176px;
  width: 100%;
  height: 23px;
  display: block;
}

.logo-hubstaff {
  background: url("../img/logo-hubstaff.svg") no-repeat center;
  background-size: 100% auto;
  max-width: 157px;
  width: 100%;
  height: 33px;
  display: block;
}

.bg-line {
  position: absolute;
  z-index: 3;
  opacity: 0.4;
  height: 1px;
}

.bg-line__1 {
  width: 17px;
  background: #79AEDF;
  top: 92px;
  right: 58px;
}

.bg-line__2 {
  width: 17px;
  background: #79AEDF;
  top: 325px;
  left: 195px;
}

.bg-line__3 {
  width: 15px;
  background: #D4595E;
  top: 360px;
  left: -5px;
}

.bg-line__4 {
  width: 51px;
  background: #D4595E;
  top: 26px;
  left: -13px;
}

.bg-line__5 {
  width: 36px;
  background: #D4595E;
  top: 364px;
  right: 70px;
}

.bg-line__6 {
  width: 9px;
  background: #D4595E;
  top: 315px;
  left: 190px;
}

.bg-line__7 {
  width: 15px;
  background: #D4595E;
  top: 57px;
  left: -40px;
}

#arrow-watch {
  animation: in 1s infinite ease-in-out;
  transform-origin: 80px 80px;
}

@keyframes in {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1230px;
  }
}

@media (max-width: 1199.98px) {
  h2.h2 {
    font-size: 2.3em;
  }

  .svg-sheme {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 991.98px) {
  h2.h2 {
    font-size: $fz-h2 - $fz-h2-percent20;
  }

  p {
    font-size: $px20 - $px20-percent20;
  }

  .display-3.first-slide__title {
    font-size: $display-3-fz - $display-3-fz-percent20;
  }

  .svg-schedule {
    width: 100%;
    height: 100%;
  }

  .diagram-text {
    justify-content: center;
  }

  .container-icons {
    margin-top: 5px;
  }
}

@media (max-width: 767.98px) {
  .app.active {
    filter: none;

    &:before {
      background: initial;
    }
  }

  .display-3.first-slide__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 20px;
  }

  h2.h2 {
    font-size: 24px;
    line-height: 28px;
  }

  .diagram-text__orange {
    margin-right: 14px;
  }

  .diagram-text__icon {
    font-size: 20px;
    line-height: 23px;
    margin-right: 16px;
  }

  .diagram-text__number {
    font-size: 40px;
    line-height: 47px;
  }

  .diagram-text__text {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
  }

  .colorful-text {
    font-size: 18px;
    line-height: 168.2%;
  }

  .icon-circle {
    width: 46px;
    height: 46px;
  }

  .container-icons {
    max-width: 166px;
  }

  .container-icons__line {
    width: 33px;
  }

  .logo-hubstaff {
    max-width: 105px;
  }

  .logo-qiwi {
    max-width: 95px;
  }

  .logo-jira {
    max-width: 138px;
  }

  .logo-telegram {
    min-width: 23px;
    width: 23px;
    height: 23px;
  }

  .logo-redis {
    max-width: 76px;
  }

  .logo-mysql {
    max-width: 127px;
    left: 7px;
  }

  .logo-php {
    max-width: 77px;
  }

  .logo-nginx {
    max-width: 75px;
  }

  .logo-laravel {
    max-width: 168px;
  }

}

@media (max-width: 370px) {
  .logo-jira {
    max-width: 120px;
  }
}

//.fade:not(.show) {
//  opacity: 0 !important;
//}
//
//.fade.show {
//  opacity: 1 !important;
//}