.first-slide {
  padding-top: 160px;
  padding-bottom: 46px;

  &__title {
    color: #F2F2F2;
    font-weight: bold;
    line-height: 75px;
    font-size: 3.2rem;
    margin-bottom: 30px;
    display: block;
  }

  &__slogan {
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    color: #B5B3B2;
    margin-bottom: 90px;
    display: block;
  }
}

@media (max-width: 991.98px) {
  .first-slide {
    button {
      display: none;
    }
  }

  .first-slide__slogan {
    font-size: $px34 - $px34-percent20;
  }
}

@media (max-width: 767.98px) {
  .first-slide {
    padding-top: 80px;
    padding-bottom: 20px;
  }

  .first-slide__slogan {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 40px;
  }
}