.fourth-slide {
  padding-bottom: 50px;

  &__title {
    color: #DDDDDD;
  }

  &__container {
    max-width: 500px;
  }

  &__container-title {
    margin-bottom: 25px;
    display: block;
    font-weight: bold;
    font-size: 30px;
    line-height: 130.7%;
    padding-top: 46px;
  }

  &__list {
    margin-top: 40px;
    margin-bottom: 0;
  }

  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: initial;
  }
}

.fourth-slide__second-content,
.fourth-slide__first-content {
  margin-top: 60px;
}

.fourth-slide__title-mob {
  display: none;
}

.fourth-slide__tab-1,
.fourth-slide__tab-2 {
  min-width: 100%;
}

@media (max-width: 991.98px) {
  .fourth-slide {
    padding-top: 33px;
    padding-bottom: 25px;
  }

  .fourth-slide__mob-wrapper {
    max-height: 250px;
    overflow: hidden;
    margin-bottom: 35px;
  }

  .fourth-slide__container-title {
    padding-top: 25px;
  }
}

@media (max-width: 767.98px)  {
  .fourth-slide__container-title {
    line-height: 21px;
    font-size: 21px;
    margin-bottom: 10px;
  }

  .fourth-slide__list {
    margin-top: 14px;
  }

  .fourth-slide__mob-wrapper {
    margin-bottom: 35px;
    margin-top: 34px;
    img {
      max-width: 260px;
      width: 100%;
      position: relative;
      right: -5px;
    }
  }
}