.fourth-slide {
  padding-bottom: 50px;

  &__title {
    color: #DDDDDD;
    margin-bottom: 60px;
  }

  &__container {
    max-width: 500px;
  }

  &__container-title {
    margin-bottom: 25px;
    display: block;
    font-weight: bold;
    font-size: 30px;
    line-height: 168.2%;
  }

  &__list {
    margin-top: 40px;
    margin-bottom: 0;
  }
}