.header {
  padding-top: 12px;
  margin-bottom: 170px;
}

.header-logo {
  display: flex;
  align-items: center;

  &__wd {
    background: url("../img/logo-main-wd.svg") no-repeat center;
    background-size: 100% auto;
    width: 163px;
    height: 43px;
    display: block;
    margin-right: 44px;
  }

  &__bf {
    background: url("../img/page-header__localBitcoins.svg") no-repeat center;
    background-size: 100% auto;
    width: 194px;
    height: 40px;
    display: block;
    position: relative;
    top: 2px;
  }
}

@media (max-width: 767.98px) {
  .header {
    margin-bottom: 30px;
  }

  .header-logo {
    max-width: 256px;

    &__wd {
      margin-right: 15px;
    }
  }
}