.main-list {
  list-style-type: none;
  padding-left: 10px;

  &__item {
    display: flex;
    align-items: baseline;
    margin-bottom: 6px;

    i {
      background: #ED7E40;
      height: 5px;
      min-width: 13px;
      border-radius: 5px;
      margin-right: 17px;
    }

    p {
      margin-bottom: 0;
      color: #B7B4B4;
    }
  }

  &__number {
    min-width: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 11px;
    border-radius: 50%;
    background: #ED7E40;

    font-weight: bold;
    font-size: 18px;
    line-height: 168.2%;
    color: #FFFFFF;
  }
}

.main-list__item {
  margin-bottom: 30px;

  p {
    font-size: 20px;
    line-height: 23px;
    color: #B7B4B4;
  }

  span {
    font-weight: bold;
    color: #ffffff;
  }
}

@media (max-width: 767.98px) {
  .main-list__item p {
    font-size: 16px;
  }
}