.second-slide {
  padding-top: 90px;
  padding-bottom: 660px;
}

.second-slide__title {
  font-weight: bold;
  line-height: 59px;
  color: #F2F2F2;
  margin-bottom: 40px;
}

.second-slide__text {
  line-height: 168.2%;
  margin-bottom: 0;
}