.third-slide {
  padding-top: 100px;
  * {
    color: #ffffff;
  }

  .container {
    padding-bottom: 100px;
  }
}

.third-slide__title {
  max-width: 600px;
  display: block;
  margin-left: auto;
}

.third-slide__container-1,
.third-slide__container-2,
.third-slide__container-3,
.third-slide__container-4 {
  position: relative;
}

@media (max-width: 1024.98px) {
  .third-slide .container {
    padding-bottom: 0;
  }
}

@media (max-width: 991.98px) {
  .third-slide {
    .container {
      padding-bottom: 0;
    }
  }
}

@media (max-width: 767.98px) {
  .third-slide {
    padding-top: 40px;
  }
}