.trade-automation {

  .trade-automation__container {
    padding-left: 115px;
  }

  .nav-link {
    padding: 0;
    margin-right: 11px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: initial;
    border: 1px solid #ffffff;

    &.active {
      background: #ED7E40;
      border: 1px solid #EB597C;
    }
  }
}

.trade-automation-container {
  margin-top: 62px;
  &__title {
    display: block;
    margin-bottom: 30px;
  }

  &__list {
    padding-left: 10px;
  }
}

.trade-automation__svg {
  position: absolute;
  top: 30px;
  left: 70px;
}

#wallet-item {
  transition: 0.2s;
}

#check-white {
  opacity: 0;
  transform: translate(206px, 309px);
}

.packMoney {
  opacity: 0;
}

.cloud-completed {
  opacity: 0;
  transition: opacity 0.5s;
}

.cloud-cancellation {
  opacity: 0;
  transition: opacity 0.5s;
}

.stage-second {

  #tie-line path {
    stroke: url(#linear-gradient);
  }

  #wallet-item {
    transform: translate(18px, 9px);
    //transition-delay: 1s;
    transition: transform 0.2s 1s;
  }

  .wallet-item__border {
    stroke: #D9B35A;
  }
}

.stage-third {

  .packMoney {
    opacity: 1;
  }

  .cloud-completed {
    opacity: 1;
    transition: opacity 0.5s 1s;
  }

  #packMoney-left {

    .packMoney__bill {
      opacity: 0;
    }

    .packMoney__bill-1 {
      animation: bill-1 0.5s  linear;
      animation-fill-mode: forwards;
    }

    .packMoney__bill-2 {
      animation: bill-2 0.5s  linear;
      animation-fill-mode: forwards;
    }

    .packMoney__bill-3 {
      animation: bill-3 0.5s  linear;
      animation-fill-mode: forwards;
    }

    .packMoney__bill-4 {
      animation: bill-4 0.5s  linear;
      animation-fill-mode: forwards;
    }
  }

  #packMoney-right {
    transform: translate(122px, 73px);

    .packMoney__bill {
      opacity: 0;
    }

    .packMoney__bill-1 {
      animation: bill-1 0.5s linear;
      animation-fill-mode: forwards;
    }

    .packMoney__bill-2 {
      animation: bill-2 0.5s linear;
      animation-fill-mode: forwards;
    }

    .packMoney__bill-3 {
      animation: bill-3 0.5s linear;
      animation-fill-mode: forwards;
    }

    .packMoney__bill-4 {
      animation: bill-4 0.5s linear;
      animation-fill-mode: forwards;
    }
  }

  #tie-line path {
    stroke: url(#linear-gradient);
  }

  #wallet-item {
    transform: translate(18px, 9px);
    transition: 0.2s;

    .wallet-item__border {
      fill: #4BBE68;
    }

    .wallet-item__rear {
      fill: #2C8D45;
    }
  }

  #wallet-item__icon {
    opacity: 0;
  }

  #check-white {
    opacity: 1;
  }
}

.stage-fourth {

  #tie-line {
    opacity: 0.1;
    transition: opacity 0.5s;
  }

  #vpn-icon * {
    stroke: #0e0b14;
    fill: #25212B;
  }

  .cloud-cancellation {
    opacity: 1;
    transition: opacity 0.5s;
  }
}

@keyframes bill-1 {
  from {
    transform: translate(0, -10px);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes bill-2 {
  from {
    transform: translate(0, -30px);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes bill-3 {
  from {
    transform: translate(0, -50px);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes bill-4 {
  from {
    transform: translate(0, -70px);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

/**/

@media (max-width: 1199.98px) {
  .trade-automation__svg {
    top: 170px;
  }

  .trade-automation .trade-automation__container {
    padding-left: 40px;
  }
}

@media (max-width: 991.98px) {
  .trade-automation__svg {
    position: relative;
    top: 0;
    left: 0;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
  }

  .trade-automation {
    padding-bottom: 30px;
    border-bottom: 1px solid #40264F;
  }
}

@media (max-width: 767.98px) {
  .trade-automation__svg {
    margin-bottom: 14px;
  }

  .trade-automation-container {
    margin-top: 30px;
  }

  .trade-automation .trade-automation__container {
    padding-left: 26px;
  }

  .trade-automation-container__title {
    margin-bottom: 12px;
  }

  .trade-automation .nav-link {
    width: 14px;
    height: 14px;
    margin-right: 16px;
  }

  .trade-automation .nav {
    margin-left: 10px;
  }
}