.trade-automation {
  padding-bottom: 400px;
  .trade-automation__container {
    padding-left: 115px;
  }

  .nav-link {
    padding: 0;
    margin-right: 11px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: initial;
    border: 1px solid #ffffff;

    &.active {
      background: #ED7E40;
      border: 1px solid #EB597C;
    }
  }
}

.trade-automation-container {
  margin-top: 62px;
  &__title {
    display: block;
    margin-bottom: 30px;
  }

  &__list {
    padding-left: 10px;
  }
}

.trade-automation__svg {
  position: absolute;
  top: 30px;
  left: 70px;
}

#wallet-item {
  transition: 0.2s;
}

#check-white {
  opacity: 0;
  transform: translate(206px, 309px);
}

.stage-second #tie-line path {
  stroke: url(#linear-gradient);
}

.stage-second #wallet-item {
  transform: translate(18px, 9px);
  transition: 0.2s;
}

.stage-second .wallet-item__border {
  stroke: #D9B35A;
}

/**/

.stage-third #tie-line path {
  stroke: url(#linear-gradient);
}

.stage-third #wallet-item {
  transform: translate(18px, 9px);
  transition: 0.2s;
}

.stage-third #wallet-item .wallet-item__border {
  fill: #4BBE68;
}

.stage-third #wallet-item .wallet-item__rear {
  fill: #2C8D45;
}

.stage-third #wallet-item__icon {
  opacity: 0;
}

.stage-third #check-white {
  opacity: 1;
}